<div class="container">
  <h2 class="text-center mb-5"> Añade un contacto </h2>
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <form [formGroup]="formulario" (ngSubmit)="addPersona()">
        <div class="form-container">
          <div class="row">
            <div class="col-2"></div>
            <div class="col-4">
              <mat-form-field appearance="fill">
                <mat-label for="name">Nombre</mat-label>
                <input matInput type="text" class="form-control" name="name"  required
                  formControlName="name">
                <mat-icon matSuffix>person_outline</mat-icon>
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label for="apellidos">Apellidos</mat-label>
                <input matInput type="text" class="form-control" name="apellidos"  required
                  formControlName="apellidos">
                <mat-icon matSuffix>groups</mat-icon>
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label for="dni">DNI</mat-label>
                <input matInput type="text" class="form-control" name="dni" placeholder="8 números y 1 letra"  required
                  formControlName="dni" maxlength="9">
                <mat-icon matSuffix>badge</mat-icon>
              </mat-form-field>
            </div>
            <div class="col-4">
              <mat-form-field appearance="fill">
                <mat-label for="cumple">Cumpleaños</mat-label>
                <input matInput type="date" class="form-control" name="cumple"  required
                  formControlName="cumple" [min]="minDate" [max]="maxDate">
                <mat-icon matSuffix>event</mat-icon>
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label for="sexo">Sexo</mat-label>
                <mat-select  class="form-control" name="sexo"  required
                formControlName="sexo">
                  <mat-option value="femenino">Femenino</mat-option>
                  <mat-option value="masculino">Masculino</mat-option>
                  <mat-option value="otro">Sin especificar</mat-option>
                </mat-select>
                <mat-icon matSuffix>face</mat-icon>
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label for="color">Color favorito</mat-label>
                <input matInput type="text" class="form-control" name="color"  required
                  formControlName="color">
                <mat-icon matSuffix>palette</mat-icon>
              </mat-form-field>
            </div>
            <div class="col-2"></div>
          </div> 
        </div>
        <div class="row">
          <button type="submit" class="btn btn-primary" [disabled]="!formulario.valid">
            Añadir
            <mat-icon matSuffix>person_add</mat-icon>
          </button>
          
        </div>
        
      </form>
    </div>
  </div>
</div>