<mat-card class="cardContainer">
  <table mat-table [dataSource]="socios" class="mat-elevation-z8 demo-table">
    <!-- Position Column -->
    <ng-container matColumnDef="socio">
      <th mat-header-cell *matHeaderCellDef> Socio </th>
      <td mat-cell *matCellDef="let element"> {{element.socio}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
    </ng-container>

    <!-- DNI Column -->
    <ng-container matColumnDef="dni">
      <th mat-header-cell *matHeaderCellDef> DNI </th>
      <td mat-cell *matCellDef="let element"> {{element.dni}} </td>
    </ng-container>

    <ng-container matColumnDef="accion">
      <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let element" fxLayoutGap="5px">
          <button class="celdaBotones" mat-mini-fab color="primary" (click)="editSocio(element)" matTooltip="Editar contacto" matTooltipPosition="before">
            <mat-icon>edit</mat-icon>
          </button>
          <button class="celdaBotones" mat-mini-fab color="warn" (click)="removeSocio(element)" matTooltip="Eliminar contacto" matTooltipPosition="before">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
  </table>
  <mat-toolbar class="emptyTable" *ngIf="socios.length === 0">No hay socios</mat-toolbar>
  <div *ngIf="socios.length != 0" class="footer">
    <mat-paginator [pageSizeOptions]="[5, 10, 20, 50 ,100]" showFirstLastButtons></mat-paginator>
  </div>

</mat-card>
  
  